<% content_for :title, "Editing movie" %>
<div class="d-flex justify-content-center">
  <h1>Editing movie</h1><br><br>

  <%= render "form", movie: @movie %>

  <br>

  <div>
    <%= link_to "Show this movie", @movie %> |
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>